/* Feuille de styles  
style02.css  
du TP2  */

h1 {
  font-style: italic;
  font-size: 2em;
}

.text {
  background-color: initial;
}
div {
  color: white;
  background-color: #999;
}

p {
  color: blue;
  background-color: #ddd;
}
