* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    font-weight: 400;
    background-color: #e7e7e7;
    padding: 12px 24px;
}

nav {
    background-color: black;
    color: white;
    padding: 16px 28px;
    display: flex;
    gap: 36px;
    margin-bottom: 48px;
}

nav img {
    width: 30px;
}

nav a:link {
    color: white;
    text-decoration: none;
    font-weight: bold;

}


nav a:visited {
    color: white;
}

nav a:hover {
    color: rgb(194, 194, 194);

}



main {
    display: flex;
    flex-wrap: wrap;
    align-items: start;

    gap: 16px;
    margin: 0px 48px;
}

article {
    text-align: center;
    line-height: 1.4;
    border-radius: 9px;
    padding: 16px 32px;
    transition: all ease-in 0.2s;
    flex: 1;
}

article:hover {
    background-color: #80aae0;
    outline: 1px solid gray;

}

article h2 {
    margin-bottom: 48px;
}

article p {
    margin-bottom: 32px;
}

.btn {
    display: block;
    padding: 16px 16px;
    border-radius: 1000px;
    margin-bottom: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: all ease-in 0.2s;
}

.btn-1 {
    background-color: #a0a8ad;
}

.btn-2 {
    background-color: #352453;
}

.btn-3 {
    background-color: #789942;
}

.btn:hover {
    scale: 110%;
    margin-bottom: 20%;

}

.btn-1:hover {
    background-color: #439de1;


}

.btn-2:hover {
    background-color: #41305e;
}

.btn-3:hover {
    background-color: #ed7863;

}

form {

    outline: 1px solid gray;
    line-height: 1.4;
    border-radius: 9px;
    padding: 16px 32px;
    transition: all ease-in 0.2s;
    flex: 1;
}

form h2 {
    font-weight: 400;
    margin-bottom: 16px;
}

form input {
    padding: 12px 12px;
    width: 100%;
    display: block;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 6px;
}

.email {
    margin-bottom: 24px;
}

.password {
    margin-bottom: 12px;
}

form button {
    width: 100%;
    padding: 10px 0px;
    border: none;
    background-color: green;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    margin-bottom: 24px;

}

form button:hover {
    border-block-start-color: rgb(189, 27, 27);
}